@media only screen and (max-width: 400px) {
    #home{
        height: 900px;
        width: 100%;
    }
    .home-text{
        position: relative;
        /* left: 200px; */
    }
/* about  ==================== */
    #about{
        width:100%;
        height: auto;
        margin-top: 30px;
    }
    .about{
        overflow: hidden;
        width: 100%;
        height: auto;
        
    }
    #footer{
        height: 300px;
    }
   
  }

  @media only screen and (max-width: 700px) {
    #home{
        height: 900px;
        width: 100%;
    }
    .home-text{
        position: relative;
        /* left: 200px; */
    }
    /* about================== */
    #about{
        overflow: hidden;
        width: 100%;
        height: auto;
        margin-top: 30px;
    }


    .contact-touch{
       display: none;
    }

    
    .portfolio{
        height: 400px;
    }
    .footer{
        text-align: center;
    }
  #footer{
    height: 300px;
  }

  }

  @media only screen and (max-width: 990px) {

    .contact-touch{
       display: none;
    }

    .portfolio{
        height: 900px;
    }
  }
  
