@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Quicksand", sans-serif;
}
html{
    scroll-behavior: smooth;
}
:active,:hover,:focus{
    outline: 0 !important;
    outline-offset: 0;
}
/* a,a:hover{
    text-decoration: none;
} */
ul,li{
    margin: 0;
    padding: 0;
}
/* variable define start  */
/* ====================================== */
:root{
    --primary-color:#8A47F6;
    --secondry-color:#222222;
    --black-color:#111111;
    --text-color:#333333;
    --btn-color: #FE8C45;
    --bg-color:#F3EDFE;
}

/* variable define end   */
/* ====================================== */

/* custom scrollber start */
/* =============================== */
::-webkit-scrollbar{
    width: 0.625rem;
}
::-webkit-scrollbar-track{
    background-color: var(--primary-color);
}
::-webkit-scrollbar-thumb{
    background-color:var(--btn-color) ;
}
/* custom scrollber end */
/* =============================== */

/* custom css start */
/* =============================== */
span{
    color: var(--primary-color);
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-align: left;
}
h1{
    font-size: 74px;
    font-weight: 900;
    line-height: 92px;
    text-align: left;
    color: var(--black-color);
}
h2{
    font-size: 48px;
    font-weight: 900;
    line-height: 48px;
    text-align: left;
    color: var(--black-color);
}
p{
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: var(--text-color);
}

/* btn design  */
.main-btn{
    border: none;
    outline: none;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    color: #ffffff;
    width: 187px;
    height: 52px;
    top: 20px;
    left: 1153px;
    gap: 0px;
    border-radius: 90px ;
    opacity: 0px;
    background-color: var(--btn-color);
    background: linear-gradient(to right ,#FE8C45 50%, #8A47F6 50%);
    background-size: 200% 100%;
    transition: all .4s ease-out 0s;
}
.main-btn:hover{
    color: azure;
    background-position: right bottom;
}
/* custom css end */
/* =============================== */
/* navber css start */
/* =============================== */
.navigation-wrap{
   position: fixed;
   width: 100%;
   left: 0;
   z-index: 999;
   transition: all 0.3s ease-out;
}
.navigation-wrap .nav-item{
    margin-top: 0.755rem;
    padding: 0 0.625rem;
    transition: all 0.3s ease-out;
}
.navigation-wrap .nav-item a{
    color: var(--text-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}

.navbar-toggler:focus{
    outline: unset;
    border: unset;
    box-shadow: none;
}
.nav-link:hover,
.nav-link.active{
    background-color: var(--primary-color) !important;
    border-radius: 50px;
    transition: all 2s ease-out;
}
/* custom css end */
/* =============================== */

/* navber on scroll css start */
/* =============================== */

.navigation-wrap.scroll-on{
    position: fixed;
    background-color: #ffffff;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0.125rem 1.75rem 0 rgb(0,0,0,0.09);
    transition: all 0.15s ease-in-out 0s;
}
.navigation-wrap.scroll-on .nav-link:hover,
.navigation-wrap.scroll-on .nav-link.active{
    background-color: var(--primary-color) !important;
    border-radius: 50px;
    transition: all 2s ease-out;
}
/* navber on scroll css start */
/* ========================== */


/* home css start */
/* ========================== */
#home{
    height: 700px;
    width: 100%;
}
.home{
    position: relative;
    top: -500px;
}
.hhh{
    width: 454px;
    height: 454px;
    top: -37px;
    left: -68px;
    gap: 0px;
    opacity: 0.15px;
    
}
.home-text{
    margin-top: 200px;
}
.stick{
    position: relative;
    background-color: var(--primary-color);
    width: 241.18px;
    height: 25px;
    top: -50px;
    left: 200px;
    gap: 0px;
    border-radius: 70px;
}
.home-img{
    margin-top: 120px;
}
/* home css end */
/* ========================== */

/* about css start */
/* ========================== */
#about{
    background-color: var(--bg-color);
    width: 100%;
    height: auto;
    margin-top: 30px;
}

/* home css end */
/* ========================== */
/* portfolio css start */
/* ========================== */
.portfolio{
    width: 100%;
    height: 1100px;
   
}
.portfolio .ppp{
    width: 454px;
    height: 454px;
    
}
.potfolio-nav{
    margin-bottom: 20px;
    width: 100%;
    height: 40px;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px 0px #0000001F;
    border-radius: 5px;
}
.potfolio-nav ul li{
    color: var(--text-color);
    font-size: 22px;
    font-weight: 500;
    line-height: 22px;

}
.potfolio-nav ul li:hover{
    color: var(--primary-color);
}
/* portfolio css end*/
/* ========================== */
/* prices css start*/
.prices{
    width: 100%;
}

.prices .card{
    width: 320px !important;
    height: 417px !important;
    border-radius: 15px ;
    box-shadow: 0px 0px 18px 0px #00000026;
}
.card{
    transition: all 1s ease-in;
}
.card:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
}
.card:hover .card-text{
    color: var(--bg-color);
}
.card:hover .money{
    color: var(--bg-color);
}
.prices .card-title{
    font-size: 24px;
    font-weight: 900;
    line-height: 34px;
    text-align: center;
}
.prices .card-text{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;

}
.prices .money{
    font-size: 48px;
    font-weight: 900;
    line-height: 48px;
    text-align: center;
    color: var(--black-color);
}
/* ========================== */
/* prices css end*/
/* ========================== */
/* Testimonials css start*/

.Testimonials{
    background-color: var(--bg-color);
}
.tes-img{
    border-radius: 5px;
}
.tes-div{
    background-color: #E3D4FD;
    width: 272px;
    height: 55px;
    border-radius: 70px;
}
.tes-div h4{
   font-size: 22px;
   font-weight: 500;
   line-height: 22px;
}
/* ========================== */
/* Testimonials css end*/

/* feed section start==========================*/
.feed-img{
    width: 98%;
    height: 700px;
    position: relative;
    top: 100px;
}
/* feed section end==========================*/
/* contact section start */
.contact{
    width: 99%;
    height: 700px; 
}
.contact input{
    width: 100% !important;
}
.contact textarea{
    width: 90%;
    height: 180px;
}
.contact label{
    margin-top: 15px;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
}
.contact .touch{
    width: 350px;
    height: 400px;
    background-color:#EDE3FE ;
    border-radius: 15px;
   position: relative;
   top: 200px;
   left: 150px;
}
.contact .touch h2{
    font-size: 34px;
    font-weight: 600;
    line-height: 34px;
    text-align: left;
}
.contact .touch .icon{
    background-color: var(--primary-color) ;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    margin-right: 11px;
}
.contact .touch i{
    text-align: center;
    position: relative;
    top: 2px;
    left: 10px;
    color: #F3EDFE;
}
.contact .touch h6{
font-size: 22px;
font-weight: 600;
line-height: 22px;
text-align: left;
color: var(--text-color);
}
.contact .touch small{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: var(--text-color);
    position: relative;
    top: -7px;
}
/* contact section end */
/* footer section start */
#footer{
    background-color: var(--secondry-color);
    width: 100%;
    height: 200px;
    padding: 10px;
}
.footer a{
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    color: #ffffff;

}
.footer-icon{
    width: 49px;
    height: 49px;
    background-color: #ffffff;
    border-radius: 50%;
    position: relative;
    top: -10px;
    left: 100px;
}
.footer-icon i{
    color: var(--secondry-color);
    font-size: 30px;
    position: relative;
    top: 8px;
    left: 8px;
}
